*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
app/build
/captures
.externalNativeBuild
/tools

app-release-signed.apk
app-release-signed.apk.idsig
app-release-unsigned-aligned.apk
app-release-bundle.aab
